<template>
  <div class="container col-md-6 col-md-offset-6" id="container">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">VueCrud</h2>
      </div>

      <div class="card-body">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th>No</th>
              <th>Product Name</th>
              <th style="text-align: right;">Product Price</th>
              <th style="text-align: right;">
              <button @click="iAddData()" class="btn btn-primary btn-sm">
                  Create New </button></th>
            </tr>
          </thead>
          <tbody class="table table-sm" v-if="cruds.length > 0">
            <tr v-for="(cruds, index) in cruds">
              <td>{{ index + 1 }}</td>
              <td>{{ cruds.product_name }}</td>
              <td style="text-align: right;">{{ cruds.product_price }}</td>
              <td style="text-align: right;">
              <button @click="iUpdateData(index)" class="btn btn-success btn-sm">Update</button>
              <button @click="iDeleteData(index)" class="btn btn-danger btn-sm">Remove</button>
              </td>
            </tr>
          </tbody>
          
          <tfoot>
            <tr>
               <td></td>
               <td>Total:</td>
               <td style="text-align: right;">{{ fiyatTotal }}</td>
               <td></td>
            </tr>
           </tfoot>
          
        </table>
      </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="add_model">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        
          <div class="modal-header">  
          <h4 class="modal-product_name">Create New</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&#10060;&nbsp;&nbsp;</span></button>
            
          </div>
          
          <div class="modal-body">
            <div class="alert alert-danger" v-if="errors.length > 0">
              <ul> <li v-for="error in errors">{{ error }}</li> </ul>
            </div>
            <div class="form-group">
                <label for="product_name">Product Name:</label>
                <input type="text" name="product_name" id="product_name" placeholder="Product Name" class="form-control"
                  v-model="cruds.product_name">
            </div>
            <div class="form-group">
                <label for="product_price">Product Price:</label>
                <input type="text" name="product_price" id="product_price" class="form-control" 
                  placeholder="Product Price" v-model="cruds.product_price"></input>
            </div>
          </div>
          
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" @click="addData" class="btn btn-primary">Create</button>
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="update_model">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        
          <div class="modal-header">
            <h4 class="modal-product_name">Update</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10060;&nbsp;&nbsp;</span></button>
            
          </div>
          
          <div class="modal-body">
            <div class="alert alert-danger" v-if="errors.length > 0">
              <ul> <li v-for="error in errors">{{ error }}</li> </ul>
            </div>
            <div class="form-group">
              <label>Product Name:</label>
              <input type="text" placeholder="Product Name" class="form-control"
                v-model="update_data.product_name">
            </div>
            <div class="form-group">
              <label for="product_price">Product Price:</label>
              <input class="form-control" placeholder="Product Price" 
                  v-model="update_data.product_price"></input>
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" @click="updateData" class="btn btn-primary">Update</button>
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</template>

<script>
export default {
  
  /* DATA BÖLÜMÜ */
  data(){
    return {
      cruds: {
        product_name: '',
        product_price: 0
      },
      errors: [],
      cruds: [],
      update_data: {}
    }
  },
  
  /* MOUNTED SECTION */
  mounted()
  {
    this.readData();  // FIRST RUN...
  },
  
  /* METHODS SECTION */
  methods: {
    readData() 
    {
      axios.get('/vuecrud/crud')
        .then(response => {
          this.cruds = response.data.cruds;
          //console.log('Read table from db : ' +  response.data.message );
        });
    },
    
    iAddData()
    {
      this.errors = [];
      $("#add_model").modal("show");
    },
    
    addData(index)
    {
      axios.post('/vuecrud/crud', {
        product_name: this.cruds.product_name,
        product_price: this.cruds.product_price,      
      })
        .then(response => {
          // Table write OK;
          // console.log('Record Created : ' +  response.data.message + ' id:' +response.data.idGet);
          // Display view
          this.cruds.push(
            {
            id:response.data.idGet,
            product_name:this.cruds.product_name,
            product_price:this.cruds.product_price}
            );             
           
          this.reset(); //function end, it is remove  !!          
          $("#add_model").modal("hide");
        })
          .catch(error => {
              this.errors = [];
              if (error.response.data.errors.product_name) {
                  this.errors.push(error.response.data.errors.product_name[0]);
              }
              if (error.response.data.errors.product_price) {
                  this.errors.push(error.response.data.errors.product_price[0]);
              }
          }); 
    },
    
    reset()
    {
        this.cruds.product_name = '';
        this.cruds.product_price = 0;
    },
    
    iUpdateData(index)
    {
        this.errors = [];
        $("#update_model").modal("show");
        this.update_data = this.cruds[index];
    },
    updateData()
    {
      axios.patch('/vuecrud/crud/' + this.update_data.id, {
        id: this.update_data.id,
        product_name: this.update_data.product_name,
        product_price: this.update_data.product_price,
      })
        .then(response => {
          //console.log('Record update OK : ' +  response.data.message ); // ok.
          $("#update_model").modal("hide");
        })
          .catch(error => {
            this.errors = [];
            if (error.response.data.errors.product_name) {
                this.errors.push(error.response.data.errors.product_name[0]);
            }
            if (error.response.data.errors.product_price) {
                this.errors.push(error.response.data.errors.product_price[0]);
            }
          });
    },
    
    iDeleteData(index)
    {
      var conf ='';  // automatic delete; if space conf variable
      if ( conf == '' ) {
        // console.log('Removed  id' + this.cruds[index].id);
        axios.delete('/vuecrud/crud/' + this.cruds[index].id)
          .then(response => {
              // console.log('Record Remove : ' +  response.data.message );
              this.cruds.splice(index, 1); /* clear view */
          })
            .catch(error => {
            });  
      } /* if conf END  */
    } /* iDeleteData END */
  }, /* methods: END */
  
  /* COMPUTED SECTION */
  computed:{
    fiyatTotal() {
      //return 0;
      let total =0;
      this.cruds.forEach((item) => {
        total += parseFloat(item.product_price,10);  // Number format 10 Digit; ex: 1.0000000001
      });
      return total.toFixed(0);  // (0) is fix;  ex: (2) is 1.01  two digit.
    }, 
  },
  
} /* EXPORT END */
</script>

<style> 
body { background-color: #336600 }
</style>
